header
	.left
		.logo
			a.link_to_page(href="index.html")
				.image
				span extra
				span.bold ordinary
	.right
		nav.menu_header
			span Share
			ul
				li.fb 
					a(href="#") facebook
				li.tw 
					a(href="#") twitter
				li.gg 
					a(href="#") google+
				li.pt 
					a(href="#") pinterest
		a.search(href="#")
		a.avatar(href="#")