nav.menu_aside
	ul
		a(href="#")
			li#art 
				span art
		a(href="#")
			li#music 
				span music
		a(href="#")
			li#photos 
				span photos
		a(href="#")
			li#films 
				span films
		a(href="#")
			li#business 
				span business
		a(href="#")
			li#travel 
				span travel
		a(href="#")
			li#shopping 
				span shopping
		a(href="#")
			li#math 
				span math
	ul.settings
		a(href="#")
			li#settings
