@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('#{$file-path}.ttf') format('truetype');
    }
}

@include font-face("montserratBold", "../fonts/Montserrat-Bold");
@include font-face("montserratRegular", "../fonts/Montserrat-Regular");
@include font-face("openSansLight", "../fonts/OpenSans-Light");
@include font-face("openSansRegular", "../fonts/OpenSans-Regular");
@include font-face("openSansSemibold", "../fonts/OpenSans-Semibold");
@include font-face("openSansBold", "../fonts/OpenSans-Bold");
@include font-face("openSansExtrabold", "../fonts/OpenSans-Extrabold");